/* . {
    grid: border-box;
} */

body {
    margin: 0rem;
    padding: 0rem;
}

section { 
    margin: 0rem;
    padding: 0rem;
}

p {
    margin: 1 rem;
}

#home {
    background-image: url("media/Color\ \(14\ of\ 20\).jpg");
    background-size: cover;
    display: grid;
    width:100%;
    /* margin: 0px; 
    padding: 0px; */
}

#bio_background {
    background-image: url("Media/Color\ \(15\ of\ 20\).jpg");
    background-size: cover;
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}

#bio_pic_background {
    display: grid;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    z-index: 0;
    
}

#bio_pic {
    display: grid;
    float: left;
    width: 10em;
    z-index: 1;

}

.nav_linksf {
    background-color: transparent;
}