/* ----- Universal Styles ----- */
. {
    grid: border-box;
}

body {
    margin: 0rem;
    padding: 0rem;
}

/* ----- Home Section of Page ----- */
#home_section {
    background-image: url("media/Color\ \(14\ of\ 20\).jpg");
    background-size: cover;
}

/* ----- Bio Section of Page ----- */
#bio_section {
    background-image: url("Media/Color\ \(15\ of\ 20\).jpg");
    background-size: cover;
}

#bio_pic {
    display: grid;
    float: left;
    width: 10em;
}

/* ----- Teaching Section of Page ----- */
#teaching_section {
    background-image: url("Media/Color\ \(18\ of\ 20\).jpg");
    background-size: cover;
}

/* ----- Contact Section of Page ----- */
#contact_section {
    background-image: url(media/Color\ \(5\ of\ 20\).jpg);
    background-size: cover;
}

/* ----- Footer ----- */
footer {
    background-color: black;
    color: white;
}